/*http://paletton.com/#uid=33u1o0kcglL4Zvw8Eq6eXhmkwen*/
/*
* Default styles
*/
button.btn-default,
a.btn-default {
	color: white;
	background-color: transparent;
	border: 5px solid white;
	border-radius: 0;
	text-decoration: none;
}
button.btn-default:hover,
a.btn-default:hover {
	color: white;
	background-color: #A2A968;
	border-color: #A2A968;
	font-weight: normal;
}
a {
	color: white;
	font-weight: bolder;
}
a:hover {
	color: white;
	font-weight: bolder;
}
/*
* Pages styling
*/
.page.stl-1 {
	color: white;
	background-color: #47606E;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.page.stl-2 {
	color: white;
	background-color: #704671;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
